<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>BookStore.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>BookStore.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayData</servlet-name>
        <servlet-class>BookStore.DisplayData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbook</servlet-name>
        <servlet-class>BookStore.addbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecord</servlet-name>
        <servlet-class>BookStore.EditRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDisplayData</servlet-name>
        <servlet-class>BookStore.UserDisplayData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>BookStore.UpdateData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayData</servlet-name>
        <url-pattern>/DisplayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbook</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecord</servlet-name>
        <url-pattern>/EditRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDisplayData</servlet-name>
        <url-pattern>/UserDisplayData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>BookStore.DatabaseConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>BookStore.DatabaseConnection</servlet-class>
    </servlet>
</web-app>
